.good-item {
  padding: 30px 0;

  .good-item-img-block {
    text-align: center;
    position: relative;

    img {
      width: 75%;
      border-radius: 6px;
    }

    &:hover .good-item-img-hover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: block;
      z-index: 10;
      cursor: pointer;
    }

    .good-item-img-hover {
      display: none;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      border-radius: 6px;


      img {
        width: 100%;
        border-radius: 6px 6px 0 0;
      }

      .good-item-description {
        background: white;
        padding: 5px;
        text-align: justify;
        border-radius: 0 0 6px 6px;
      }
    }
  }

  .good-item-options > div {
    padding: 5px 0;

    .quantity {
      input {
        border: none;
        text-align: center;
        width: 32px;
        font-size: 16px;
        color: #43484D;
        font-weight: 400;
      }

      button {
        text-align: center;
        width: 30px;
        height: 30px;
        background-color: #E1E8EE;
        border-radius: 6px;
        border: none;
        cursor: pointer;
      }
    }


    .good-items-btns .btn {
      cursor: pointer;
      width: 100%;

    }


    button:focus,
    input:focus {
      outline: 0;
    }

    .good-items-btns {
      width: 75% !important;
      margin: 0 auto;


      .row {
        align-items: center;
      }

      .like-btn {
        position: relative;
        display: flex;
        padding: 0;
        margin: 0;
        Cursor: pointer;
        background: url('../img/twitter-heart.png') no-repeat;
        width: 100px;
        height: 100px;
        background-size: 2900%;
      }
    }
  }
}

.is-active {
  animation-name: animate;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}

@keyframes animate {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: right;
  }
}




